@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&family=Sofia+Sans+Extra+Condensed:ital,wght@0,100;0,400;1,100;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans Extra Condensed', sans-serif; }

body {
  display: flex;
  flex-direction: column; }

a {
  transition: .2s ease-in-out; }

.js-sticky {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0; }
  .js-sticky.is-sticky {
    position: fixed;
    top: 0;
    bottom: auto; }

.site-header {
  background: #323537;
  padding: 1.25em 0; }
  .site-header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .site-header__title {
    margin: 0;
    color: #eee;
    text-decoration: none;
    font: 700 1.5em/1.25 "Source Sans Pro", "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif; }
    .site-header__title:hover, .site-header__title:focus {
      color: #99c18e; }

.site-menu__item {
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  font: 300 1.25em/1.25 "Source Sans Pro", "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif; }
  .site-menu__item:hover, .site-menu__item:focus {
    color: #99c18e; }
  .site-menu__item + .site-menu__item {
    margin-left: 1em; }
