.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 15px;
    color: $secondary-color;
    .hamburger-menu {
        display: none;
        cursor: pointer;
        .hamburger-icon {
            width: 25px;
            height: 3px;
            background-color: $secondary-color;
            margin: 5px 0;
        }
    }
    .nav-menu {
        display: flex;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            li {
                padding: 15px;
                a {
                    color: $secondary-color;
                    text-decoration: none;
                }
            }
        }
    }
}