header {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
  }