.hero {
  position: relative;
  background: url(../../assets/img/5055263.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  h2 {
    font-size: 50px;
    line-height: 1.3;
    span {
      font-size: 25px;
      color: $dt-color1;
      border-bottom: 2px solid $dt-color1;
      padding-bottom: 12px;
      line-height: 3;
    }
  }
}
.sobre-mi {
  height: 90vh;
  background-color: $bg-bdy;
  .row {
    @extend %row;
    h2 {
      @extend %titulos;
      color: $font-dark;
      padding: 50px 0;
      span {
        color: $dt-color1;
      }
    }
    p {
      @extend %parrafo;
      color: $font-dark;
    }
  }
}
.time-line {
  background-color: $bg-hdr-ftr;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2 {
    @extend %titulos;
    color: $font-white;
    margin: 30px 0;
    width: 100%;
    span {
      display: inline-block;
      border-bottom: 1px solid; 
      margin-bottom: 10px;
      width: 20%;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    margin: 2rem 0 7rem;
    ul {
      list-style: none;
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        width: 0.1rem;
        height: 100%;
        content: '';
        background: $dt-color1;
      }
      li {
        margin-bottom: 2rem;
        width: 55rem;
        padding: 0 3rem;
        position: relative;
        color: $font-white;
        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0.1rem;
          width: 0.58rem;
          height: 0.58rem;
          border: 0.22rem solid #2b292c;
          background: $dt-color1;
          border-radius: 50%;
          transform: translateX(-50%);
        }
        h3 {
          font-weight: bold;
          margin-bottom: 10px;
          color: $dt-color1;
        }
        span {
          position: absolute;
          top: 0;
          left: -2.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.skills {
  @extend %row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    width: 90px;
    height: auto;
    margin: 30px;
  }
}
.portfolio {
  h2 {
    @extend %titulos;
  }
  p {
    @extend %parrafo;
  }
}
.contacto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../../assets/img/contact-background.jpg);
  background-size: cover;
  h2 {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
    .animated-text {
      text-align: center;
      span {
        opacity: 0;
        animation: fadeInSlow 1s forwards;
      }
    }
    @keyframes fadeInSlow {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .form {
    width: 540px;
    height: 440px;
    background: $bg-hdr-ftr;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px $shadow-color;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative;
    input{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background: none;
      outline: none;
      resize: none;
      border: 0;
      transition: all 0.3s;
      border-bottom: 2px solid $bg-container2;
      color: $dt-color1;
      &:focus {
        border-bottom: 2px solid $font-white;
      }
    }
    textarea {
      width: 100%;
      height: 25vh;
      padding: 10px;
      box-sizing: border-box;
      background: none;
      outline: none;
      resize: none;
      border: 0;
      transition: all 0.3s;
      border-bottom: 2px solid $bg-container2;
      color: $dt-color1;
      &:focus {
        border-bottom: 2px solid $font-white;
      }
    }
    p:before {
      content: attr(type);
      display: block;
      margin: 28px 0 0;
      font-size: 14px;
      color: $font-white;
    }
    button {
      float: right;
      padding: 8px 12px;
      margin: 8px 0 0;
      border: 2px solid $bg-container2;
      background: none;
      color: $font-white;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background: $dt-color1;
        border: 2px solid $bg-hdr-ftr;
        color: $font-dark;
        font-weight: bold;
      }
    }
  }
  .alerta-envio {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    .mensaje-popup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $bg-hdr-ftr;
      color: $dt-color1;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      p {
        margin: 0;
        font-size: 18px;
      }
    }
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}