@import"../base/variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Raleway:wght@100;200;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    background-color: $bg-bdy;
}

::selection {
    background-color: $bg-container2;
}