.open-nav {
    max-height: 400px;
  }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }




@media only screen and (max-width: 766px) {
    .header-js {
      padding-top: 25px;
    }
  }