
@media only screen and (max-width: 766px) {
    #header-js {
      padding-top: 25px;
    }
  }
  
  .open-nav {
    max-height: 400px;
  }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  
  
  @media only screen and (max-width: 766px) {
    .logo {
      float: none;
    }
  }
  
  nav {
    float: right;
    width: 60%;
  }
  @media only screen and (max-width: 766px) {
    nav {
      width: 100%;
    }
  }
  nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
  }
  @media only screen and (max-width: 766px) {
    nav ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
  }
  nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
  }
  @media only screen and (max-width: 766px) {
    nav ul li {
      width: 100%;
      padding: 7px 0;
      margin: 0;
    }
  }
  
  
  .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  @media only screen and (max-width: 766px) {
    .mobile-toggle {
      display: block;
    }
  }
  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: $font-grey;
    display: block;
  }
  
  
  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  
  
