@media (max-width: 768px) {
    .navbar {
        .hamburger-menu {
            display: block;
        }

        .nav-menu {
            display: none;
            flex-direction: column;
            background-color: darken($primary-color, 10%);
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;

            &.active {
                display: flex;
            }

            ul {
                li {
                    border-bottom: 1px solid $secondary-color;
                }
            }
        }
    }
}